.title{
    text-align: center;
    color:white;
    margin: 20px auto;
}

.title h1{
    color:black;
    background-color:white;
    width: 40%;
    margin: 10px auto;
    font-family: 'Press Start 2P', cursive;
    padding:1%;

}

@media screen and (max-width:800px) {
    .title h1{
        width: 50%;
    }
}

.TodoCounter--load{
    opacity: 25%;
}
