li{
    display: flex;
    padding: 10px;
    width: 50%;
    color:white;
    font-weight: bold;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 20px auto;
}

.Icon-check--activate{
    color:green;
}

.TodoItem-p--complete{
    text-decoration:line-through;
}

.Icon-delete:hover{
    color:red;
}