.title{
    text-align: center;
    color:white;
}

.title h1{
    color:black;
    background-color:white;
    width: 20%;
    margin: 5px auto;
    letter-spacing: 6px;
    text-shadow: purple 0 0, cyan 0 0;
    transition: text-shadow 200ms;
}

.title h1:hover{
    text-shadow: purple -6px 0, cyan 6px 0;
}