li{
    display: flex;
    padding: 10px;
    width: 50%;
    color:white;
    justify-content: space-between;
    border: 1px solid black;
    margin: 20px auto;
}

.Icon-check--activate{
    color:green;
}

.TodoItem-p--complete{
    text-decoration:line-through;
}