input {
    outline: none;
    width: 80%;
    height: 40px;
    margin: 10px 10%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 16px;
    border: none;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    ;
}