.botonSubmit{
    background-color: greenyellow;
}

.botonClose{
    background-color:plum;
}

.botons{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    padding: 5%;
    background-color:white;
    
}