.botonSubmit{
    background-color: greenyellow;
    position: relative;
}

.botonClose{
    background-color:plum;
    position: relative;
}

.botons{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    background-color:white;
    gap: 20px;
    font-size: 1.6rem;
}

label{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: start;
    color: black;
}

.description{
    display: flex;
    flex-direction:column;
    gap: 20px;
    text-align: center;
}

.description label{
    font-size: 1.8rem;
    text-align: center;
}