.botonSubmit{
    background-color: greenyellow;
}

.botonClose{
    background-color:rebeccapurple;
}

.botons{
    display: flex;
    justify-content: center;
}

form{
    display: block;
    padding: 5%;
    background-color:white;
    
}